body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 3fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.logo {
    align-items: center;
}

.logo img {
    height: 52px;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-row: 1 / -1;
    background-color: aliceblue;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-part-2 {
    margin-top: 100px;
    justify-content: center;
}

.navbar {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1;
    grid-template-columns: 6fr 1fr 2fr ;
}

.searchbar input {
    border-radius: 24px;
    border-style:none;
    background-color: #eee;
    padding: 8px 24px;
    justify-self: stretch;
}

.action-bar {
    grid-column: 2 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 6fr 2fr 0.5fr;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.action-buttons button {
    border-radius: 16px;
    padding: 8px 32px 8px 32px;
    border-style:hidden;
}

.project-header {
    padding-left: 4rem;
}

.project-menu {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
    gap: 3rem;
    padding-left: 4rem;
}

.announcements-header {
    grid-row: 3;
    grid-column: 4;
}

.announcements-menu {
    grid-row: 4;
    grid-column: 4;
}

.trending-menu {
    grid-row: 5;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    padding: 16px;
}

.trending-card {
    display: grid;
    grid-template-rows: repeat(4, 0.2fr);
    background-color: antiquewhite;
    border-radius: 16px;
    padding: 24px;
    row-gap: 32px;
}

.trending-user {
    display: grid;
    grid-template-rows: repeat(2, 0.4fr);
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.trending-user h3 {
    margin: 0;
    font-size: 16px;
}

.user-pfp {
    grid-row: 1 / -1;
    max-width: 48px;
    max-height: 48px;
}

.user-handle {
    grid-column: 2;
}

.user-details {
    grid-row: 2;
    grid-column: 2;
    font-size: 14px;
}

.user-pfp img {
    height: 48px;
    width: 48px;
    border-radius: 100px;
}
